<div class="planning-week-nav">
    <a href="?fromDate={{ last_week|e }}">Semaine précédente</a>
    |
    <a href="?">Cette semaine</a>
    |
    <a href="?fromDate={{ next_week|e }}">Semaine suivante</a>
</div>
<div class="planning-week-movies">
{% for movie in movies %}
    {#{{ dump(movie.shows()) }}#}
    <div class="movie-item">
        <div class="movie-item-poster">
            <img
                width="204"
                height="272"
                src="{{ movie.poster().link()|e }}"
                class="attachment-title size-title"
                alt=""
                decoding="async"
                loading="lazy"
            />
        </div>
        <div class="movie-item-content">
            <h2>
                {{ movie.title().asString() }}
                {% if movie.duration() %}
                    - {{ movie.duration() }}
                {% endif %}
            </h2>
            <div>{{ movie.shortDescription() }}</div>
            <div>{{ movie.castingDescription() }}</div>
            <div>{{ movie.synopsis()|raw }}</div>
        </div>
        {% for show in movie.shows() %}
            <div class="movie-item-projections">
                <p style="margin-bottom: 8px;" class="seance">
                    <span class="showtimeDate">{{ show.startAt()|date('Y-m-d H:i') }}</span>
                    <span class="showtime">{{ show.version().asString() }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
